@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}

html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Add this in your global CSS file */
.navbar-dark {
    background-color: #f8f9fa; /* light gray */
  }
  
  .navbar-light {
    background-color: #1D232A; /* dark gray */
  }
  

